01_Temperature/sub_temperature.json
[{"id":"32a821b5.538036","type":"mqtt in","z":"3f223b66.a733ec","name":"","topic":"IoT2019fy","qos":"2","datatype":"auto","broker":"181ca585.d2090a","x":104.5,"y":158,"wires":[["59edd5a0.037d24"]]},{"id":"59edd5a0.037d24","type":"json","z":"3f223b66.a733ec","name":"","property":"payload","action":"","pretty":false,"x":243.5,"y":158,"wires":[["5c77a32.ef4b4dc"]]},{"id":"eaa02d5d.8a456","type":"ui_gauge","z":"3f223b66.a733ec","name":"","group":"94455f3c.61d19","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":518.5,"y":118,"wires":[]},{"id":"5c77a32.ef4b4dc","type":"function","z":"3f223b66.a733ec","name":"tempe","func":"\nreturn {payload:msg.payload.temperature+0};","outputs":1,"noerr":0,"x":376.5,"y":158,"wires":[["eaa02d5d.8a456","d2ba0e53.aee0f","2e32f3ca.67450c"]]},{"id":"d2ba0e53.aee0f","type":"debug","z":"3f223b66.a733ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":523.5,"y":224,"wires":[]},{"id":"2e32f3ca.67450c","type":"ui_chart","z":"3f223b66.a733ec","name":"","group":"94455f3c.61d19","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":517.5,"y":171,"wires":[[]]},{"id":"181ca585.d2090a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94455f3c.61d19","type":"ui_group","z":"","name":"Default","tab":"984a6a89.b4417","disp":true,"width":"6","collapse":false},{"id":"984a6a89.b4417","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
