04_PhTr/countP.json
[
    {
        "id": "76dba472.148924",
        "type": "mqtt in",
        "z": "9510e65a.e75058",
        "name": "",
        "topic": "IoT2019fy",
        "qos": "2",
        "datatype": "utf8",
        "broker": "181ca585.d2090a",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "da9e54aa.91e66"
            ]
        ]
    },
    {
        "id": "da9e54aa.91e66",
        "type": "json",
        "z": "9510e65a.e75058",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "bd0270e5.5de81",
                "bb2accfb.138b9"
            ]
        ]
    },
    {
        "id": "bb2accfb.138b9",
        "type": "function",
        "z": "9510e65a.e75058",
        "name": "value",
        "func": "\nreturn {payload:msg.payload.intensity};",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 200,
        "wires": [
            [
                "58abfd56.a9e08c"
            ]
        ]
    },
    {
        "id": "bd0270e5.5de81",
        "type": "function",
        "z": "9510e65a.e75058",
        "name": "Counter",
        "func": "var iCp = global.get('giCountPedestrian');\nvar fLi = msg.payload.intensity;\n\nif (fLi < 2000)\n{\n    iCp ++;\n}\nelse\n{\n    \n}\n\nglobal.set('giCountPedestrian',iCp);\n\nmsg.payload=iCp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "39ea0c07.b2c334"
            ]
        ]
    },
    {
        "id": "ecd99d10.508bd8",
        "type": "function",
        "z": "9510e65a.e75058",
        "name": "set global",
        "func": "global.set('giCountPedestrian',0);\nreturn ;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a0842321.2bf83",
        "type": "inject",
        "z": "9510e65a.e75058",
        "name": "init",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "ecd99d10.508bd8"
            ]
        ]
    },
    {
        "id": "39ea0c07.b2c334",
        "type": "ui_gauge",
        "z": "9510e65a.e75058",
        "name": "Num Pedestrian",
        "group": "94455f3c.61d19",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Num",
        "label": "people",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "50",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "58abfd56.a9e08c",
        "type": "ui_gauge",
        "z": "9510e65a.e75058",
        "name": "Light Intensity",
        "group": "94455f3c.61d19",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light",
        "label": "alpha*W",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "181ca585.d2090a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "94455f3c.61d19",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "984a6a89.b4417",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "984a6a89.b4417",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
